debian/*.log
*.o
*.lo
*.a
.deps
Makefile
Makefile.in
config.h
config.h.in
*.pc

*.*~
*.sw?
.libs
*.pyc
*.gcda
*.gcno

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
m4/*.m4

# git-version-gen magic
.tarball-version
.version

# apps and app data
src/osmo-msc/osmo-msc
src/utils/smpp_mirror
sms.db
src/osmo-msc/*.cfg*

#tests
tests/testsuite.dir
tests/*/*_test
# ignore compiled binaries like msc_vlr_test_foo; do not ignore
# msc_vlr_test_foo.{c,ok,err}, but do still ignore the corresponding .o object
# files:
tests/msc_vlr/msc_vlr_test_*
!tests/msc_vlr/msc_vlr_test_*.*
tests/msc_vlr/msc_vlr_test_*.o


tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
tests/testsuite.log

writtenconfig/

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmomsc-usermanual.xml
doc/manuals/common
doc/manuals/build
